.center {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  border: 3px solid green;
  text-align: center;
}
#cul {
  color: blue;
}
#can {
  width: 400px;
  height: 600px;
  border: 1px solid black;
}
